.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 12px;
}

.title {
  font-weight: 800;
  font-size: 1.2rem;
}
